version: 1

disable_existing_loggers: False

formatters:
    simple:
        format: "%(asctime)s %(filename)s[line:%(lineno)d] %(threadName)s %(levelname)s %(message)s"
    simpleconsole:
        format: "%(asctime)s %(filename)s[line:%(lineno)d] %(threadName)s %(levelname)s %(message)s"
handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simpleconsole
        stream: ext://sys.stdout

    info_file_handler:
        class: logging.handlers.RotatingFileHandler
        level: INFO
        formatter: simple
        filename: info.log
        maxBytes: 104857600 #100MB
        backupCount: 20
        encoding: utf8

    error_file_handler:
        class: logging.handlers.RotatingFileHandler
        level: ERROR
        formatter: simple
        filename: errors.log
        maxBytes: 104857600 #100MB
        backupCount: 20
        encoding: utf8

loggers:
    my_module:
        level: ERROR
        handlers: [console]
        propagate: no

root:
    level: DEBUG
    handlers: [console, info_file_handler, error_file_handler]
